* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

header{
 width: 100%;
 background-color:white
}


.header_all{
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  height: 124px;
  /* border: 1px solid black; */
  background-color: white;

}

.header_left{
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_left a{
  text-decoration: none;
  color: #3563E9;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 32px;
}
.header_left_search{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_left_search_left{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.header_left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header_left_search{
  color: #77787a66 ; 
  font-size: 20px;

}

.header_left_search{
  width: 490px;
  height: 44px;
  top: 40px;
  left: 272px;
  border: 1px solid #C3D4E966;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 20px;

}

.header_left_search input{
  border: none;
  outline: none;
  width: 200px;
  height: 20px;
}
.header_right{
  color: #242525cb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 40px;

}

.header_right_card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #C3D4E966;
  object-fit: cover;
  cursor: pointer;
  
}

.header_right_card i{
  color: #596780;
}

.header_right_card img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header_right_img{
  border-radius: 50%;
  border: 1px solid black;
}


main {
  padding-top: 32px;
  background-color: #f6f7f9;
}

.main__conainer {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main__top__box {
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__top__card {
  width: 640px;
  height: 360px;
  border-radius: 10px;
  padding: 24px 0 0 24px;
}

.main_top_one {
  background-image: url(./img/BG.png);
  background-color: #54a6ff;
}

.main_top_two {
  background-image: url(./img/BG\ \(1\).png);
  background-color: #3563e9;

}

.main__top__card h2 {
  width: 272px;
  height: 96px;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main__top__card p {
  width: 284px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 25px;
}

.main__top__card button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 8px;

  width: 120px;
  height: 44px;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-top: 20px;
}

.main_top_one button {
  background: #3563e9;
}
.main_top_two button {
  background-color: #54a6ff;
}

.main_filter {
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}



.grid__top {
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.grid__top h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.16px;
  text-align: center;
  width: Fixed (132px) px;
  height: Fixed (44px) px;
  padding: 0px 20px 0px 20px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;

  color: #90a3bf;
}

.grid__top p {
  width: Fixed (104px) px;
  height: Fixed (44px) px;
  padding: 0px 20px 0px 20px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.16px;
  text-align: center;
  color: #3563e9;
}

.grid__card{
  margin: 0 auto;
    width: 304px;
    height: 388px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
}

.grid__card__top{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.grid__card__top_left h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1A202C;
}

.grid__card__top_left h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #90A3BF;
}

.grid__card__img{
    width: 256px;
    height: 180px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid__card__img img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.grid__card__tittle{
    display: flex;
    gap: 16px;
}

.grid__card__tittle_card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.grid__card__tittle_card span{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: left;
    color: #90A3BF;
    display: flex;
    align-items: center;
}

.grid__card__price_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.grid__card__price_btn p{
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: #1A202C;
}

.grid__card__price_btn span{
    font-size: 14px;
    font-weight: 700;
    line-height: 17.64px;
    text-align: left;
    color:  #90A3BF;
}
.grid__card__top_right button{
  background: none;
  border: none;
  cursor: pointer;
}

.grid__card__price_btn button{
    width: 116px;
    height: 44px;
    top: 320px;
    left: 164px;
    padding: 0px 20px 0px 20px;
    gap: 8px;
    border-radius: 4px ;
    opacity: 0px;
    border: none;
    background-color: #3563E9;
    color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;

}

.grid__card__price_btn a{
  cursor: pointer;
}

.grid__Allcards{
    display: grid;
    max-width: 1312px;
    gap: 32px;
    margin: 0 auto;
    grid-template-columns: repeat( auto-fit, minmax(304px, 1fr) );
}

footer{
  background-color:white;
}

.footer_into{
  max-width:  1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.footer_top{
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 80px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
 
}

footer .footer_top_left h1 {
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: left;
 color: #3563E9;

  
}
footer .footer_top_left p {
font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;

}
.footer_top_right {
  display: flex;
  gap: 6rem;
  
}
.footer_top_right ul li{
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(19, 19, 19, 0.6);
  list-style: none;
}
.footer_top_right ul h3 {
  color: rgba(26, 32, 44, 1);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.footer_bottom {
  padding-top: 36px;
  justify-content: space-between;
  display: flex;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #13131329;
  padding-bottom: 40px;
}
.footer_bottom_left p {
  color: #1A202C;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: bold;
}
.footer_bottom_right {
  display: flex;
  gap: 4rem;
}
.footer_bottom_right p {
color: #1A202C;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.02em;
font-weight: bold;
}

.sonSection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.finishBtn{
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 156px;
  height:44px;
  padding: 0px 20px 0px 20px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  border: none;
  background-color: #3563E9;
  cursor: pointer;
  color: white;
  margin-bottom: 64px;
  font-family: "Plus Jakarta Sans", sans-serif;

}

.container {
  margin-top: 50px;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #117a8b;
  border-color: #117a8b;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
  border-color: #bd2130;
}

.table {
  background-color: #fff;
  width: 1100px;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
  padding: 0.75rem ;
  text-align: center;
}

.table th {
  background-color: #f8f9fa;
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
}

label {
  font-weight: bold;
  margin-left: 5px;
}

.note
{
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #54A6FF, #5967805b);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  padding-top: 20px;
}
.form-content
{
  
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control{
  border-radius:1.5rem;
}
.btnSubmit
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #438cd9;

  color: #fff;
}

.wishlidt_main{
  padding-bottom: 150px;
}

.form_main{
  padding-bottom: 60px;
}

.btnEdit{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #117a8b;
  color: #fff;
  display: none;
}
@media screen and (max-width:1100px) {    
  .table {
      width: 930px;
  }
}

@media screen and (max-width:900px) {    
  .table {
      width: 830px;
  }
}

.container_for_login{
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  align-items: end;
  justify-content: end;
}


.two_cont{
  margin-top: 20px;
  max-width: 1305px;
}