@media screen and (max-width:1300px) {
    .main__top__box {
        max-width: 640px;
        margin: 0 auto;
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .main_filter {
        max-width:640px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        justify-content: space-between;
      }
      
}

@media screen and (max-width:1000px) {
    .header_left_search{
        width: 290px;  
    }

.header_left_search input{
width: 100px;
}
.footer_top_left{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:830px){
    .header_left_search{
        display: none;
    }
    .footer_top_right{
        gap: 30px;
        flex-wrap: wrap;
    }
    .main_filter{
        display: none;
    }
    .grid{
        padding-top: 30px;
    }
    .header_all{
        gap: 20px;
    }
   
}

@media screen and (max-width:550px){
    .nien{
        display: none;
    }
    .main__top__card {
        width: 400px;
        background-position: center;
    }
   
}


@media screen and (max-width:1100px) {
	.table {
		width: 930px;
	}
}
@media screen and (max-width:900px) {
	.table {
		width: 830px;
	}
}
